.homepage {
  display: flex;
  flex-direction: row;
}

.homepage__nav {
  flex: 0.16;
  border-right: 0.6px solid rgba(128, 128, 128, 0.3);
  padding-top: 10px;
}

.homepage__timeline {
  flex: 0.74;
}
